/build/
/sim/
/IP/
*/.Xil/
scripts/clockInfo.txt
/old/

*.jou
*.log
*.str
*.rpt
*.dcp
*.runs/
*.cache/
*.hw/
*.ip_user_files/
*.sim/
*.xpr
*.xpr.lock
*.wdb
*.ltx
*.bit
*.bin
*.vcd

# OS / Editor
.DS_Store
.vscode/
*~
*.swp
*.swo

/deps/

/constraints/trace_delays.xlsx
/constraints/timing_skew.ipxdc